.home-container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4em;

    flex-direction: column;
}

.article-container {
    height: 100vh;
    width: 100%;
    display: flex;
    gap: 2em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img {
    height: 500px;
    width: 500px;
}

.h3 {
    font-size: 30px;
}

.filme-link {
    width: 200px;
    height: 90px;
    background-color: cyan;
    border-radius: 8px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.37);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 19px;
}